<header class="page-header">
  <div class="header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <svg class="logo-svg" width="24" height="24">
          <use href="./images/icon/symbol-defs.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka </span></a
      >
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="./index.html" class="nav-list-link">Home</a>
        </li>
        <li class="nav-list-item">
          <a href="./mylibrary.html" class="nav-list-link current"
            >my library</a
          >
        </li>
        <li class="nav-list-item navlist-logout is-hidden">
          <!-- <a href="./index.html" class="nav-list-link">Log-Out</a> -->
          <button class="nav-list-link">Log Out</button>
        </li>
        <li class="nav-list-item navlist-email is-hidden">
          <!-- <a href="./index.html" class="nav-list-link navlist-email"
            >Sign-up</a
          > -->
          <button
            class="nav-list-link"
            onclick="document.getElementById('id03').style.display='block'"
            style="width: auto"
          >
            Email
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
