<div class="backdrop is-hidden">
  <div class="group-modal">
    <button class="group-button">
      <svg class="group-close-icon" width="30px" height="30px">
        <use href="./images/icon/symbol-defs.svg#icon-close_menu"></use>
      </svg>
    </button>
    <h3 class="group-title">Our team</h3>
    <div class="group">
      <ul class="group-list">
        <li class="group-item">
          <img
            src="./images/team/member_JosephCamacho.jpg"
            alt="Photo"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">
                Joseph
                <br />
                Camacho
              </p>
              <span class="partner-position">Team Lead</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/team/member_CatalinaClarino.jpg"
            alt="Photo"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">
                Catalina
                <br />
                Clarino
              </p>
              <span class="partner-position">Scrum Master</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/team/member_TinPasco.jpg"
            alt="Photo"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">
                Tin
                <br />
                Pasco
              </p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/team/member_AndreIvanConge.jpg"
            alt="Photo"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">
                Andre Ivan
                <br />
                Conge
              </p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/team/member_JeadineBoldios.jpg"
            alt="Photo"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">
                Jeadine
                <br />
                Boldios
              </p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/team/member_GerardoAquinoJr.jpg"
            alt="Photo"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">
                Gerardo
                <br />
                Aquino Jr.
              </p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/team/member_RoelEdeleon.jpg"
            alt="Photo"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">
                Roel
                <br />
                Edeleon
              </p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
;
