<div id="id02" class="modal_signup">
  <form class="modal-content-signup animate">
    <div class="imgcontainer">
      <span
        onclick="document.getElementById('id02').style.display='none'"
        class="close-signup"
        title="Close Modal"
        >&times;</span
      >
    </div>
    <div class="signup-container">
      <h1>Sign Up</h1>
      <p><br />Please fill in this form to create an account.</p>
      <hr />
      <label for="signup_fname"><b>Full Name</b></label>
      <input
        class="signup_fname"
        type="text"
        placeholder="Enter Full Name"
        id="signup_fname"
        name="signup_fname"
        required
      />
      <label for="signup_email"><b>Email</b></label>
      <input
        class="signup_email"
        type="email"
        placeholder="Enter Email"
        id="signup_email"
        name="signup_email"
        required
      />

      <label for="signup_pword"><b>Password</b></label>
      <input
        class="signup_pword"
        type="password"
        placeholder="Enter Password"
        id="signup_pword"
        name="signup_pword"
        required
      />
      <!-- 
      <label for="signup_pword-repeat"><b>Repeat Password</b></label>
      <input
        class="signup_pword-repeat"
        type="password"
        placeholder="Repeat Password"
        id="signup_pword-repeat"
        name="signup_pword-repeat"
        required
      /> -->

      <label>
        <input
          type="checkbox"
          checked="checked"
          name="remember"
          style="margin-bottom: 15px"
        />
        Remember me
      </label>

      <p>
        By creating an account you agree to our
        <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
      </p>

      <div class="clearfix">
        <button
          type="button"
          onclick="document.getElementById('id02').style.display='none'"
          class="btn-signup signup_cancelbtn"
        >
          Cancel
        </button>
        <button type="submit" class="btn-signup signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>
